.page {
    font-size: 22pt;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #646464;

    line-height: 1.8rem;
    margin-bottom: 0;

    cursor: pointer;
}

.cursor {
    height: 0.15rem;
    background-color: #ee9347;
    position: relative;
    transition: opacity 0.5s ease-out;
}

.cursor-move-animation {
    transition: left 0.3s ease-out, width 0.3s ease-out;
}

.cursor-fade-in {
    animation: fadeIn 0.9s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}