@property --theme {
    syntax: '<color>';
    inherits: true;
    initial-value: black;
}

@property --highlight {
    syntax: '<color>';
    inherits: true;
    initial-value: black;
}

@property --highlight-progress {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html {
    --theme: #ef8354;
    --theme-secondary: #3a3a3a;
    --theme-header: #646464;
    --highlight: #f2bb05;
    --theme-h-gradient: linear-gradient(90deg, #d9d9d9 0%, #f5d8d3 55%, #ed872d 70%, #e7622f 100%);

    background: #fafafa;
}

body {
    padding: 2rem 0;
    min-width: 25rem;
    transition: padding-top 0.4s;

    background: transparent;
}

p {
    transition: font-size 0.35s;
}

hr {
    margin-top: 0.375rem;
    margin-bottom: 0.625rem;

    border: 0;

    height: 0.125rem;

    background: var(--theme-h-gradient);
    opacity: 1;
}

.header-divider {
    margin-top: 0.375rem;
    margin-bottom: 1rem;
}

.highlighted {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.09rem;

    color: #444444;
    background: linear-gradient(90deg, var(--highlight) var(--highlight-progress), transparent var(--highlight-progress));

    animation: highlight 3s 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.24, 1);
}

.logo-header {
    height: 2.188rem;
}

.text-header {
    color: var(--theme-header);
}

.section {
    margin-bottom: 1rem;
}

.section-header {
    font-family: "Merriweather", sans-serif;
    text-align: center;
    transition: font-size 0.05s;
}

.text-block {
    font-family: Helvetica, sans-serif;

    border-left: 0.2rem solid var(--theme);
    padding-left: 0.6rem;

    transition: all 0.2s ease-in-out;
}

.text-block b {
    color: var(--theme-secondary);
}

.text-block:hover {
    padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
    body {
        padding-top: 0.75rem !important;
    }

    p {
        font-size: 14pt !important;
    }

    .container {
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .section-header {
        font-size: calc(1.35rem + 0.3vw) !important;
    }
}

@keyframes highlight {
    0% {
        --highlight-progress: 0%
    }
    100% {
        --highlight-progress: 100%
    }
}